.env
.env.local
.env.production
.git
.gitignore
.gitattributes
README.md
*.md
node_modules/
vendor/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/app/*
!.gitkeep
*.py
*.bak
*.pdf
.dockerignore
opencode.json
